.my-result {
    width: 100vw;
    padding: 2rem;
    text-align: center;
    background-color: #e2eafc;
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-result-title {
        font-size: 2.5rem;
        color: #03045e;
        margin-bottom: 2rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
    }

    .my-result-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        width: 70vw;

        .my-result-left,
        .my-result-right {
            flex: 1;
            padding: 1rem;
        }

        .my-result-left {
            display: flex;
            justify-content: center;
            align-items: center;

            .my-result-image {
                width: 80%;
                max-width: 600px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }

        .my-result-right {
            text-align: left;

            .my-result-heading {
                font-size: 2rem;
                color: #03045e;
                margin-bottom: 1rem;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 600;
                width: 500px;
            }

            .my-result-description {
                width: 500px;
                text-align: justify;
                font-size: 1.2rem;
                color: #555;
                line-height: 1.6;
                font-family: "Josefin Sans", sans-serif;
            }
        }
    }

}
@media (max-width: 768px) {
    .my-result-container {
        flex-direction: column;
        height:max-content;
    }

    .my-result-left,
    .my-result-right {
        width: 100%;
        height: max-content;
        padding: 1rem 0;
    }

    .my-result .my-result-title {
        padding-bottom: 50px;
    }

    .my-result-title {
        font-size: 2rem;
    }

    .my-result-heading {
        font-size: 1.5rem;
    }

    .my-result-description {
        font-size: 1rem;
    }

    .my-result{
        height: 120vh;
    }

    .my-result .my-result-container {
        height: 100vh;
    }


.my-result .my-result-container .my-result-left {
    max-width: 400px;
}

    

}

@media (max-width: 480px) {
    
    .my-result .my-result-title {
        font-size: 1.5rem;
    }

    .my-result{
        height: 100vh;
    }

    .my-result .my-result-container{
        height: 100vh;
    }

    .my-result .my-result-title{
        padding: 0;
    }

    
    .my-result .my-result-container .my-result-right .my-result-description {
        font-size: 1rem;
        width: 70vw;
    }

    .my-result .my-result-container .my-result-left {
        display: flex;
        justify-content: flex-start;
    }

    .my-result .my-result-container .my-result-right .my-result-heading {
        font-size: 1.4rem;
    }

    .my-result .my-result-container .my-result-right {
        padding: 0;
        height: min-content;
        margin-left: -10%;
    }

    .my-result .my-result-container .my-result-left{
        padding: 0;
        margin-left: -10%;
    }
    
}