/* General Styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 75vh;
    /* background-color: #f0f0f0; */
    background-color: #e2eafc;
    overflow: hidden;
}

.hero-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-right {
    flex: 1;
    text-align: left;
}

.hero-right h1 {
    font-size: 3rem;
    margin: 0;
    padding: 10px;
    color: black;
}

.hero-right p {
    font-size: 1.35rem;
    padding: 10px;
    line-height: 30px;
    word-spacing: 8px;
    text-align: justify;
}

.hero-right h2 {
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    color: #040944;
}

/* Circle Styles */
.circle {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle1 {
    width: 180px;
    height: 180px;
    top: 70%;
    left: 70%;
}

.circle2 {
    width: 350px;
    height: 350px;
    top: 10%;
    right: 40%;
}

.circle3 {
    width: 220px;
    height: 220px;
    bottom: 20%;
    left: 50%;
}

/* Loaded State */
.hero.loaded .circle {
    opacity: 1;
    transform: scale(1);
}

.contact-button {
    /* display: inline-block; */
    margin-top: 1rem;
    margin-left: 10px;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    width: max-content;
    background-color: #689af8;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: black;

}



















/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        width: 100vw;
        height: 90vh;
        padding: 1rem;
        gap: 4rem;
    }

    .hero-left,
    .hero-right {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .hero-right h1 {
        font-size: 2.5rem;
    }

    .hero-right h2 {
        font-size: 1.5rem;
    }

    .circle1 {
        width: 150px;
        height: 150px;
        top: 10%;
        left: 5%;
    }

    .circle2 {
        width: 200px;
        height: 200px;
        top: 30%;
        left: 33%;
    }

    .circle3 {
        width: 120px;
        height: 120px;
        top: 70%;
        left: 70%;
    }
}

@media (max-width: 480px) {
    .hero-right h1 {
        font-size: 2rem;
    }

    .hero{
        height: 85vh;
    }

    .hero-left{
        height: 100vh;
    }

    .circle1 {
        width: 150px;
        height: 150px;
        top: 10%;
        left: -10%;
    }

    .circle2 {
        width: 200px;
        height: 200px;
        top: 35%;
        left: 45%;
    }

    .circle3 {
        width: 120px;
        height: 120px;
        top: 70%;
        left: 5%;
    }

    .hero-right h2 {
        font-size: 1.2rem;
    }

    .hero-right p{
        font-size: 1rem;
        line-height: 25px;
    }

    .contact-button{
        font-size: 1rem;
    }
}
