/* General Styles */
.header {
    background-color: #03045e;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%; /* Adjusting width to account for side margins */
    margin: 0 auto; /* Centering the header */
    z-index: 1000;
    transition: background-color 0.3s ease;
    align-items: center; /* Vertically center the content */
    height: 65px; /* Base height for larger screens */
    padding-top: 20px;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 5px;
    }

    .header-title {
        font-size: 2rem;
        color: #ffffff;
        margin: 0;
        padding-left: 0.5rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
    }

    .header-nav {
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding-right: 200px;
            gap: 1.5rem;
            transition: opacity 0.3s ease;

            li {
                margin-left: 1.5rem;
            }

            a {
                text-decoration: none;
                color: #ffffff;
                font-size: 1.2rem;
                font-family: "Josefin Sans", sans-serif;
                font-weight: 550; /* Applied font */
                position: relative;
                transition: color 0.3s ease;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -5px; /* Positioning the underline below the text */
                    width: 0;
                    height: 2px;
                    background-color: #fefefe;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }

                &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    .menu-icon {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;
        position: absolute;
        right: 1rem; /* Ensure it is not too close to the edge */

        &:hover {
            transform: scale(1.1);
        }
    }

    .logo {
        height: 50px; /* Adjust the size of the logo */
        margin-right: 0.5rem; /* Space between the logo and title */
    }

    .header-left {
        display: flex; /* Stack logo and title vertically */
        align-items: center; /* Center items */
        justify-content: center;
        margin-left: 50px;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header {
        width: 100vw; /* Full width on tablets */
        padding: 1rem; /* Adjust padding for smaller screens */
        margin: 0; /* Remove side margins */
        flex-direction: column; /* Stack items vertically */
        height: min-content;
        
        .header-container {
            width: 100vw;
            display: flex; /* Stack items vertically */
            justify-content: space-between; /* Center items */
            align-items: center; /* Center items */
        }

        .header-title {
            font-size: 1.5rem;
            text-align: center; /* Center align text */
        }

        .menu-icon {
            display: block;
            margin-bottom: 1rem; /* Add space below the menu icon */
            color: #ffffff;
            padding-right: 1.5rem;
            padding-top: 0.3rem;
            margin-left: 2rem;
        }

        .header-nav {
            display: none;
            width: 100%;
            background-color: #f8f9fa;
            position: absolute;
            top: calc(100% + 1rem); /* Position below header */
            left: 0;
            right: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, opacity 0.3s ease;
            transform: translateY(-100%);
            opacity: 0;

            &.open {
                transform: translateY(0);
                display: flex;
                position: absolute;
                left: 60%;
                justify-content: center;
                width: 40%;
                text-align: center;
                opacity: 1;
                color: black;

                ul {
                    flex-direction: column;
                    width: 50%;
                    padding: 1rem 0;
                    margin: 0;

                    li {
                        margin: 0.5rem 0;
                        text-align: center;
                    }

                    a {
                        font-size: 1.2rem;
                        color: black;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        padding: 1.5rem; /* Adjust padding for smaller screens */
        height: calc(60px + 5px); /* Increase header height by 15px */
        margin-top: 0px; /* Add top margin of 10px */
        
        .header-container {
            display: flex;
            width: 100vw;
            align-items: center; /* Stack items vertically */
            justify-content: space-between; /* Center items */
        }

        .header-title {
            display: flex;
            font-size: 2rem;
            margin-left: 0;
            padding-left: 0;
            width: 100%;
        }

        .header-nav {
            display: none;
            width: 50%;
            background-color: #f8f9fa;
            color: black;
            position: absolute;
            top: calc(100% + 1rem); /* Position below header */
            left: 0;
            right: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, opacity 0.3s ease;
            transform: translateY(-100%);
            opacity: 0;

            &.open {
                display: flex;
                position: absolute;
                left: 10%;
                align-items: flex-end;
                justify-content: center;
                width: 50%;
                margin-left: 150px;
                text-align: center;
                opacity: 1;
                color: black;

                ul {
                    flex-direction: column;
                    width: 80%;
                    padding: 1rem 0;
                    margin: 0;

                    li {
                        margin: 0.5rem 0;
                    }

                    a {
                        font-size: 1.2rem;
                        color: black;
                    }
                }
            }
        }

        .menu-icon {
            display: inline-block;
            margin-bottom: 1rem; /* Add space below the menu icon */
            padding-right: 1.5rem;
            padding-top: 0.3rem;
            margin-left: 2rem;
            color: #ffffff;
        }

        .header-left {
            display: flex; /* Stack logo and title vertically */
            margin-left: 0px;
        }
    }
}
