/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Main content container */
.container {
    display: flex;
    width: calc(100% - 300px); /* Adjusting width to account for side margins */
}
/* Main content container */
.main-content {
    width: 100%;
    padding: 1rem; /* Adjust padding as needed */
    transition: margin-left 0.3s ease;
}

.menu-open {
    margin-left: 0; /* Adjust this if needed when menu is open */
}



.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.app-container {
  margin: 0 auto;
  width: calc(100% - 300px); /* Apply side margins */
}

@media (max-width: 768px) {
  .app-container {
    width: 100%; /* Full width on smaller screens */
  }
}

@media (max-width: 480px) {
  .app-container {
    width: 100%; /* Full width on smaller screens */
  }
}


/* Additional global styles if needed */

/* Additional global styles if needed */
